mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner{
  padding: 25px;
  background: rgba(255, 255, 255, 0.8) ;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: block;
  padding: 16px;
}

mat-toolbar {
  margin: 0;
  padding: 0 16px;
  height: 64px;
}

.table-wrapper {
  padding: 16px;
}
