@use '@angular/material' as mat;
@include mat.core();

$custom-app-primary: mat.m2-define-palette(mat.$m2-pink-palette);
$custom-app-secondary: mat.m2-define-palette(mat.$m2-pink-palette, 100, 900, A100);
$custom-app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-theme: mat.m2-define-dark-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondary,
    warn: $custom-app-warn,
  )
 ));

@include mat.core-theme($custom-theme);
@include mat.all-component-themes($custom-theme);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

